/* colour theme */
:root {
    --primary-light: #A1E44D;
    --primary-dark: #60993E;
    --secondary: #685044;
    --tertiary: #3A405A;

    --font-color: #000000;
    --background-primary: #ffffff;


}